@use './abstracts' as *;
@use './base';


#root {
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("../assets/BG.webp");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}