@use './abstracts' as *;
@use './base';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: pinch-zoom;
}

h1, h2, h3, h4, h5, h6 {
  &::before {
    display: inline;
    content: ">";
  }

}

a, button {
    cursor: get-cursor(pointer);
}

a {
  color: $color-primary-400;
  text-decoration: underline;
}

::selection {
    background-color: $color-primary-400;
    color: $color-background;
}

::-webkit-scrollbar{
    width: $scrollbar-size;
    height: $scrollbar-size;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 6px;
  }
  

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

#root {
    font-family: "Pixelify Sans", sans-serif;
    background-color: $color-background;

    color: $color-primary-100;
    scroll-behavior: smooth;

}

// modifiers
.--sticky-top {
    position: sticky;
    top: 0;
}

.--grab-cursor {
    cursor: get-cursor(grab);
}
