

@font-face {
    font-family: "Pixelify Sans";
    src: local("Pixelify Sans"), 
    url("/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}