@use '../../styles/variables' as *;

.tv-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-background;
    border: 52px solid transparent; 
    border-image: radial-gradient(circle, #585D47, #1C1C1A) 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tv-middle {
    width: 100%;
    height: 100%;
    border: 30px solid transparent;
    border-image: radial-gradient(circle, $color-primary-400, #737D4E, $color-background) 1;
    border-radius: 32px;
    
}

.tv-inner {
    background: #000;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}