// Home.scss
@use '../styles/abstracts/' as *;

.highlight {
    color: $color-primary-400;
}

.intro {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    height: auto;

    &__content {
        width: 100%;
        margin-right: 40px;

        .link-btn {
            margin-top: 42px;
        }
    }

    &__title {
        width: 100%;

        @include h1;

        & {
            margin: 0;
        }

    }

    &__image {
        display: block;
        max-width: 666px;
        width: 100%;
        aspect-ratio: 1/1;

        overflow: hidden;
        filter: drop-shadow(0 0 20px rgba(202, 209, 179, 0.2));
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
           
        }
    }

    @media screen and (max-width: $breakpoint-desktop-s) {
        &__content {
            max-width: 370px;
        }

        &__image {
            max-width: 480px;
        }
    }

    @media screen and (max-width: $breakpoint-tablet) {
        & {
            flex-direction: column-reverse;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__content {
            margin-right: 0;
            text-align: center;

            .link-btn {
                margin: 0 0 20px 0;
            }

        }

        &__image {
            max-width: 320px;
        }

    }

    @media screen and (max-width: $breakpoint-mobile-l) {
        &__image {
            max-width: 240px;
        }

    }
}


.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-grow: 1;

    &__title {
        @include h2;
        & {
            font-size: 36px;
            line-height: 1;
            text-align: center;
            letter-spacing: 0.1em;
            margin-top: 40px;
        }
        @media screen and (max-width: $breakpoint-tablet) {
            & {
                font-size: 24px;
            }
            
        }
    }
}

.skills {
    &__title {
        @include h2;

        & {
            font-size: 96px;

            &-slash {
                text-align: center;
                width: 1ch;
            }
        }

    }

    .window__skill-block {
        margin: 32px 16px;

        h4 {
            @include h4;

            & {
                margin: 0;
                margin: 16px 0;
            }
        }

        @media screen and (max-width: $breakpoint-mobile-l) {
            & {
                margin: 0px 0;
            }

            h4 {
                font-size: 16px;
            }
        }
    }

    .easter-egg {
        min-width: 50px;
        min-height: 80px;
        width: 0;
        aspect-ratio: 1/1;
        overflow: auto;
        resize: none;

        .window__header {
            height: auto;
            padding: 0;

            justify-content: center;
            align-items: center;
            font-size: 14px;

            .window-controls {
                display: none;
            }
        }

        .window__content {
            padding: 0;
        }

        &__image {
            display: block;
            max-width: 50px;
            max-height: 50px;
            height: 100%;
            width: 100%;
            object-fit: contain;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    @media screen and (max-width: $breakpoint-tablet) {
        .easter-egg {
            display: none;
        }

        .hint {
            display: none;
        }

        &__title {
            font-size: 48px;

        }

    }
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    &__title {
        @include h2;

        & {
            text-align: center;
        }


        &-dots {
            width: 1.5ch;
        }
    }

    &-list {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        @include h4;

        @media screen and (max-width: $breakpoint-tablet) {
            & {
                margin-top: 10px;
                flex-flow: column wrap;
            }

        }
    }
}