@use '../../styles/abstracts/' as *;

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
        color: $color-primary-100;
        margin: 4px;

        &__link {
            color: $color-primary-400;
            text-decoration: none;
            cursor: get-cursor(pointer);

            &::before {
                display: inline-block;
                content: '>';
                margin-right: 2px;
            }

            &:hover {
                color: $color-primary-200;
                text-decoration: underline;
            }

        }
    }


}